*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  line-height: 1.5;
  box-sizing: border-box;
}

img {
  width: 200px;
  height: 200px;
}

body {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

header {
  padding: 1rem;

  & > nav {
    display: flex;
    justify-content: center;
    gap: 1rem;
  }
}

div#content {
  display: flex;
  justify-content: center;

  & > .home {
    padding: 1rem;
    display: grid;
    gap: 4rem;
    width: 80%;

    & > div {
      border: 1px solid rgb(229, 229, 16);
      padding: 1rem;
      text-align: center;
      border-radius: 4px;
    }
  }

  & > .menu {
    display: flex;
    flex-direction: column;

    & .main-banner {
      border: 1px solid #000;
      width: 20%;
      min-width: 100px;
      text-align: center;
      margin: 0 auto;
      margin-bottom: 1rem;
    }

    & .beverage-container, .side-dishes-container, .main-dishes-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 1rem;
      gap: 1rem;
      border-bottom: 1px dashed #000;
    }

    .beverage-container > .banner, .side-dishes-container > .banner, .main-dishes-container > .banner {
      border: 1px solid #000;
      padding: 0.5rem;
    }

    & .beverage-info, .side-dishes-info, .main-dishes-info {
      border: 1px solid #000;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 80%;
      padding: 1rem;
      text-indent: 20px;
    }
  }
}